extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Jason Bannister
    div.Message
      div.Title
        h3 Information for my apprenticeship application
        h1 Powered by Node.js
      span.Details Find out more about me...
    div.NavButtons
      a(href="/profile")
          div.NavButton Click here!